.total-spent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 40px;
    gap: 12px;
    width: 800px;
    font-size: 0.9rem;
    background-color: #fff5ee;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    margin-top: 10px;
    padding: 10px 16px;
    border-radius: 12px;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-weight: bold;
}